<m3e-form-field>
              <label slot="label" for="select3">Pokemon</label>
              <m3e-select id="select3">
                <m3e-optgroup>
                  <span slot="label">Grass</span>
                  <m3e-option>Bulbasaur</m3e-option>
                  <m3e-option>Oddish</m3e-option>
                  <m3e-option>Bellsprout</m3e-option>
                </m3e-optgroup>
                <m3e-optgroup>
                  <span slot="label">Water</span>
                  <m3e-option>Squirtle</m3e-option>
                  <m3e-option>Psyduck</m3e-option>
                  <m3e-option>Horsea</m3e-option>
                </m3e-optgroup>
                <m3e-optgroup>
                  <span slot="label">Fire</span>
                  <m3e-option>Charmander</m3e-option>
                  <m3e-option>Vulpix</m3e-option>
                  <m3e-option>Flareon</m3e-option>
                </m3e-optgroup>
              </m3e-select>
            </m3e-form-field>
