<m3e-form-field variant="outlined">
              <label slot="label" for="fld9">Date Picker</label>
              <m3e-date-input id="fld9"></m3e-date-input>
              <m3e-icon-button aria-label="Open calendar" slot="suffix">
                <m3e-icon name="calendar_today"></m3e-icon>
                <m3e-datepicker-toggle for="picker6"></m3e-datepicker-toggle>
              </m3e-icon-button>
              <span slot="hint">MM/DD/YYYY</span>
            </m3e-form-field>
            <m3e-datepicker id="picker6" for="fld9"></m3e-datepicker>
