<m3e-form-field variant="outlined">
              <label slot="label" for="fld6">Date Field</label>
              <input autocomplete="off" id="fld6" />
              <m3e-icon-button aria-label="Open calendar" slot="suffix">
                <m3e-icon name="calendar_today"></m3e-icon>
                <m3e-datepicker-toggle for="picker3"></m3e-datepicker-toggle>
              </m3e-icon-button>
              <span slot="hint">MM/DD/YYYY</span>
            </m3e-form-field>
            <m3e-datepicker variant="auto" id="picker3" start-view="multi-year"></m3e-datepicker>
