<m3e-theme strong-focus density="-3">
              <m3e-button variant="filled" size="medium">-3 density</m3e-button>
            </m3e-theme>
            <m3e-theme strong-focus density="-2">
              <m3e-button variant="filled" size="medium">-2 density</m3e-button>
            </m3e-theme>
            <m3e-theme strong-focus density="-1">
              <m3e-button variant="filled" size="medium">-1 density</m3e-button>
            </m3e-theme>
            <m3e-theme strong-focus density="0">
              <m3e-button variant="filled" size="medium">0 (default) density</m3e-button>
            </m3e-theme>
            <m3e-theme strong-focus density="1">
              <m3e-button variant="filled" size="medium">1 density</m3e-button>
            </m3e-theme>
