<m3e-heading variant="display" size="large" emphasized>Display Large</m3e-heading>
            <m3e-heading variant="display" size="medium" emphasized>Display Medium</m3e-heading>
            <m3e-heading variant="display" size="small" emphasized>Display Small</m3e-heading>
            <m3e-heading variant="headline" size="large" emphasized>Headline Large</m3e-heading>
            <m3e-heading variant="headline" size="medium" emphasized>Headline Medium</m3e-heading>
            <m3e-heading variant="headline" size="small" emphasized>Headline Small</m3e-heading>
            <m3e-heading variant="title" size="large" emphasized>Title Large</m3e-heading>
            <m3e-heading variant="title" size="medium" emphasized>Title Medium</m3e-heading>
            <m3e-heading variant="title" size="small" emphasized>Title Small</m3e-heading>
            <m3e-heading variant="label" size="large" emphasized>Label Large</m3e-heading>
            <m3e-heading variant="label" size="medium" emphasized>Label Medium</m3e-heading>
            <m3e-heading variant="label" size="small" emphasized>Label Small</m3e-heading>
