<m3e-tabs variant="primary">
              <m3e-tab selected for="tab1"><m3e-icon slot="icon" name="videocam"></m3e-icon>Video</m3e-tab>
              <m3e-tab for="tab2"><m3e-icon slot="icon" name="photo"></m3e-icon>Photos</m3e-tab>
              <m3e-tab for="tab3"><m3e-icon slot="icon" name="music_note"></m3e-icon>Audio</m3e-tab>
              <m3e-tab-panel id="tab1">Videos</m3e-tab-panel>
              <m3e-tab-panel id="tab2">Photos</m3e-tab-panel>
              <m3e-tab-panel id="tab3">Audio</m3e-tab-panel>
            </m3e-tabs>
