<m3e-tabs header-position="after">
              <m3e-tab selected for="tab4"><m3e-icon slot="icon" name="videocam"></m3e-icon>Video</m3e-tab>
              <m3e-tab for="tab5"><m3e-icon slot="icon" name="photo"></m3e-icon>Photos</m3e-tab>
              <m3e-tab for="tab6"><m3e-icon slot="icon" name="music_note"></m3e-icon>Audio</m3e-tab>
              <m3e-tab-panel id="tab4">Videos</m3e-tab-panel>
              <m3e-tab-panel id="tab5">Photos</m3e-tab-panel>
              <m3e-tab-panel id="tab6">Audio</m3e-tab-panel>
            </m3e-tabs>
