<m3e-fab variant="primary"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab variant="primary-container"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab variant="secondary"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab variant="secondary-container"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab variant="tertiary"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab variant="tertiary-container"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab variant="surface"><m3e-icon name="add"></m3e-icon></m3e-fab>
