<m3e-form-field variant="outlined">
              <label slot="label" for="fld3">Time Field</label>
              <input autocomplete="off" id="fld3" />
              <m3e-icon-button aria-label="Open time picker" slot="suffix">
                <m3e-icon name="schedule"></m3e-icon>
                <m3e-timepicker-toggle for="timepicker3"></m3e-timepicker-toggle>
              </m3e-icon-button>
              <span slot="hint">HH:MM</span>
            </m3e-form-field>
            <m3e-timepicker id="timepicker3" variant="auto" mode="input" hide-mode-toggle></m3e-timepicker>
