<m3e-form-field variant="outlined">
              <label slot="label" for="fld5">Time Field</label>
              <input autocomplete="off" id="fld5" />
              <m3e-icon-button aria-label="Open time picker" slot="suffix">
                <m3e-icon name="schedule"></m3e-icon>
                <m3e-timepicker-toggle for="timepicker5"></m3e-timepicker-toggle>
              </m3e-icon-button>
              <span slot="hint">HH:MM</span>
            </m3e-form-field>
            <m3e-timepicker id="timepicker5" variant="auto" min-time="8:15 AM" max-time="5:30 PM"></m3e-timepicker>
