<m3e-accordion multi>
              <m3e-expansion-panel open>
                <span slot="header">Panel 1</span>
                I am content for the first panel
              </m3e-expansion-panel>
              <m3e-expansion-panel open>
                <span slot="header">Panel 2</span>
                I am content for the second panel
              </m3e-expansion-panel>
              <m3e-expansion-panel open>
                <span slot="header">Panel 3</span>
                I am content for the third panel
              </m3e-expansion-panel>
            </m3e-accordion>
