<m3e-form-field variant="outlined">
              <label slot="label" for="fld8">Date Field</label>
              <input autocomplete="off" id="fld8" />
              <m3e-icon-button aria-label="Open calendar" slot="suffix">
                <m3e-icon name="calendar_today"></m3e-icon>
                <m3e-datepicker-toggle for="picker5"></m3e-datepicker-toggle>
              </m3e-icon-button>
              <span slot="hint">MM/DD/YYYY</span>
            </m3e-form-field>
            <m3e-datepicker variant="auto" id="picker5" date="2026-01-01" clearable></m3e-datepicker>
