<m3e-toolbar variant="vibrant" shape="rounded" elevated>
              <m3e-icon-button aria-label="Back">
                <m3e-icon name="arrow_back"></m3e-icon>
              </m3e-icon-button>
              <m3e-icon-button aria-label="Forward">
                <m3e-icon name="arrow_forward"></m3e-icon>
              </m3e-icon-button>
              <m3e-icon-button aria-label="Add" width="wide" variant="filled">
                <m3e-icon name="add"></m3e-icon>
              </m3e-icon-button>
              <m3e-icon-button aria-label="Picture in picture">
                <m3e-icon name="picture_in_picture"></m3e-icon>
              </m3e-icon-button>
              <m3e-icon-button aria-label="More options">
                <m3e-icon name="more_vert"></m3e-icon>
              </m3e-icon-button>
            </m3e-toolbar>
