<m3e-content-pane>
              <m3e-heading m3e-toc-ignore variant="display" size="large">Content header</m3e-heading>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ligula at ipsum pulvinar tincidunt.
                Integer feugiat, tortor non aliquet facilisis, velit risus faucibus lorem, vitae porttitor justo arcu
                nec sapien. Curabitur euismod, urna vel placerat dictum, augue sem ullamcorper velit, id interdum neque
                magna non nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
                Suspendisse potenti. Praesent ac orci eget urna volutpat fermentum. Donec non mi sed sapien gravida
                aliquet. Vivamus at orci id libero scelerisque convallis. Pellentesque habitant morbi tristique senectus
                et netus et malesuada fames ac turpis egestas. Cras ac erat id velit pharetra luctus. Mauris sed nisl
                sed arcu facilisis tincidunt. Aliquam erat volutpat. Sed sit amet massa non magna gravida cursus. Sed
                vulputate, velit id suscipit convallis, lorem ipsum varius neque, sed porttitor lacus justo vitae
                libero. Integer at felis vel lacus porta posuere. Aenean non lorem ac nulla gravida tincidunt.
                Pellentesque vel urna id libero dictum gravida. Donec sit amet velit nec sapien ultricies tincidunt.
                Vivamus in augue id libero sodales tincidunt. Integer id lorem nec sapien bibendum tincidunt. Sed id
                lacus non justo viverra tincidunt. Curabitur id risus vitae justo tincidunt gravida. Vivamus id ligula
                non ipsum porta tincidunt. Pellentesque id lorem nec sapien dictum tincidunt. Integer id lorem nec
                sapien bibendum tincidunt.
              </p>
