<m3e-segmented-button disabled>
              <m3e-button-segment> <m3e-icon slot="icon" name="palette"></m3e-icon>Design </m3e-button-segment>
              <m3e-button-segment>
                <m3e-icon slot="icon" name="accessibility_new"></m3e-icon>Accessibility
              </m3e-button-segment>
              <m3e-button-segment> <m3e-icon slot="icon" name="motion_photos_on"></m3e-icon>Motion </m3e-button-segment>
              <m3e-button-segment>
                <m3e-icon slot="icon" name="description"></m3e-icon>Documentation
              </m3e-button-segment>
            </m3e-segmented-button>
