<m3e-button>
              <m3e-bottom-sheet-trigger for="bottomSheet3">
                Open draggable modal bottom sheet
              </m3e-bottom-sheet-trigger>
            </m3e-button>
            <m3e-bottom-sheet id="bottomSheet3" modal handle>
              <m3e-action-list>
                <m3e-list-action>
                  <m3e-bottom-sheet-action>Google Keep</m3e-bottom-sheet-action>
                  <span slot="supporting-text">Add to a note</span>
                </m3e-list-action>
                <m3e-list-action>
                  <m3e-bottom-sheet-action>Google Docs</m3e-bottom-sheet-action>
                  <span slot="supporting-text">Embed in a document</span>
                </m3e-list-action>
              </m3e-action-list>
            </m3e-bottom-sheet>
