<m3e-button>
              <m3e-bottom-sheet-trigger for="bottomSheet7">
                Open draggable modal bottom sheet with detents at half
              </m3e-bottom-sheet-trigger>
            </m3e-button>
            <m3e-bottom-sheet id="bottomSheet7" modal handle detents="fit half full" detent="1">
              <m3e-action-list>
                <m3e-list-action>
                  <m3e-bottom-sheet-action>Google Keep</m3e-bottom-sheet-action>
                  <span slot="supporting-text">Add to a note</span>
                </m3e-list-action>
                <m3e-list-action>
                  <m3e-bottom-sheet-action>Google Docs</m3e-bottom-sheet-action>
                  <span slot="supporting-text">Embed in a document</span>
                </m3e-list-action>
              </m3e-action-list>
            </m3e-bottom-sheet>
