<m3e-form-field variant="outlined">
              <label slot="label" for="fld5">Time Field</label>
              <m3e-date-input id="fld5" type="time" show-seconds value="2026-01-01T23:30:00Z"></m3e-date-input>
              <span slot="hint">HH:MM:SS</span>
            </m3e-form-field>
            <m3e-form-field variant="outlined">
              <label slot="label" for="fld6">Date-time Field</label>
              <m3e-date-input id="fld6" type="datetime" show-seconds value="2026-01-01T23:30:00Z"></m3e-date-input>
              <span slot="hint">MM/DD/YYYY HH:MM:SS</span>
            </m3e-form-field>
