<m3e-form-field variant="outlined">
              <label slot="label" for="fld11">Date Picker</label>
              <m3e-date-input id="fld11"></m3e-date-input>
              <m3e-icon-button aria-label="Open calendar" slot="suffix">
                <m3e-icon name="calendar_today"></m3e-icon>
                <m3e-datepicker-toggle for="datepicker1"></m3e-datepicker-toggle>
              </m3e-icon-button>
              <span slot="hint">MM/DD/YYYY</span>
            </m3e-form-field>
            <m3e-datepicker id="datepicker1" for="fld11"></m3e-datepicker>

            <m3e-form-field variant="outlined">
              <label slot="label" for="fld12">Time Picker</label>
              <m3e-date-input id="fld12" type="time"></m3e-date-input>
              <m3e-icon-button aria-label="Open time picker" slot="suffix">
                <m3e-icon name="schedule"></m3e-icon>
                <m3e-timepicker-toggle for="timepicker1"></m3e-timepicker-toggle>
              </m3e-icon-button>
              <span slot="hint">HH:MM</span>
            </m3e-form-field>
            <m3e-timepicker id="timepicker1" for="fld12"></m3e-timepicker>

            <m3e-form-field variant="outlined">
              <label slot="label" for="fld16">Datetime Picker</label>
              <m3e-date-input id="fld16" type="datetime"></m3e-date-input>
              <m3e-icon-button aria-label="Open calendar" slot="suffix">
                <m3e-icon name="calendar_today"></m3e-icon>
                <m3e-datepicker-toggle for="datepicker2"></m3e-datepicker-toggle>
              </m3e-icon-button>
              <m3e-icon-button aria-label="Open time picker" slot="suffix">
                <m3e-icon name="schedule"></m3e-icon>
                <m3e-timepicker-toggle for="timepicker2"></m3e-timepicker-toggle>
              </m3e-icon-button>
              <span slot="hint">MM/DD/YYYY HH:MM</span>
            </m3e-form-field>
            <m3e-datepicker id="datepicker2" for="fld16"></m3e-datepicker>
            <m3e-timepicker id="timepicker2" for="fld16"></m3e-timepicker>
