<m3e-form-field variant="outlined">
              <label slot="label" for="fld7">Time Field</label>
              <m3e-date-input id="fld7" type="time" time-format="24" value="2026-01-01T23:30:00Z"></m3e-date-input>
              <span slot="hint">HH:MM</span>
            </m3e-form-field>
            <m3e-form-field variant="outlined">
              <label slot="label" for="fld8">Date-time Field</label>
              <m3e-date-input id="fld8" type="datetime" time-format="24" value="2026-01-01T23:30:00Z"></m3e-date-input>
              <span slot="hint">MM/DD/YYYY HH:MM</span>
            </m3e-form-field>
