<m3e-button>
              <m3e-menu-trigger for="menu5">Menu with submenus</m3e-menu-trigger>
            </m3e-button>
            <m3e-menu id="menu5">
              <m3e-menu-item>
                <m3e-menu-trigger for="menu6">Fruits with A</m3e-menu-trigger>
              </m3e-menu-item>
              <m3e-menu-item>Grapes</m3e-menu-item>
              <m3e-menu-item>Olive</m3e-menu-item>
              <m3e-menu-item>Orange</m3e-menu-item>
            </m3e-menu>
            <m3e-menu id="menu6">
              <m3e-menu-item>Apricot</m3e-menu-item>
              <m3e-menu-item>Avocado</m3e-menu-item>
              <m3e-menu-item>
                <m3e-menu-trigger for="menu7">Apples</m3e-menu-trigger>
              </m3e-menu-item>
            </m3e-menu>
            <m3e-menu id="menu7">
              <m3e-menu-item>Fuji</m3e-menu-item>
              <m3e-menu-item>Granny Smith</m3e-menu-item>
              <m3e-menu-item>Red Delicious</m3e-menu-item>
            </m3e-menu>
