<m3e-form-field variant="outlined">
              <label slot="label" for="fld4">Time Field</label>
              <input autocomplete="off" id="fld4" />
              <m3e-icon-button aria-label="Open time picker" slot="suffix">
                <m3e-icon name="schedule"></m3e-icon>
                <m3e-timepicker-toggle for="timepicker4"></m3e-timepicker-toggle>
              </m3e-icon-button>
              <span slot="hint">HH:MM</span>
            </m3e-form-field>
            <m3e-timepicker id="timepicker4" variant="auto" format="24"></m3e-timepicker>
