<m3e-form-field variant="outlined">
              <label slot="label" for="fld7">Time Field</label>
              <input autocomplete="off" id="fld7" />
              <m3e-icon-button aria-label="Open time picker" slot="suffix">
                <m3e-icon name="schedule"></m3e-icon>
                <m3e-timepicker-toggle for="blackout-times"></m3e-timepicker-toggle>
              </m3e-icon-button>
              <span slot="hint">HH:MM</span>
            </m3e-form-field>
            <m3e-timepicker id="blackout-times" variant="auto"></m3e-timepicker>
