<m3e-form-field variant="filled">
              <label slot="label" for="field">Textarea Autosize</label>
              <textarea id="field">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea
              >
            </m3e-form-field>
            <m3e-textarea-autosize for="field"></m3e-textarea-autosize>
