<m3e-fab lowered variant="primary"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab lowered variant="primary-container"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab lowered variant="secondary"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab lowered variant="secondary-container"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab lowered variant="tertiary"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab lowered variant="tertiary-container"><m3e-icon name="add"></m3e-icon></m3e-fab>
            <m3e-fab lowered variant="surface"><m3e-icon name="add"></m3e-icon></m3e-fab>
